.mobile-hide {
	display: none;

	@include mq(large) {
		display: block;
	}	
}

.large-hide {
	display: block;

	@include mq(large) {
		display: none;
	}	
}

.subdued {
	color: lighten($text-color, 20%);
}
